<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

    First Name: <input type="text" th:field="*{firstName}"/>

    <br><br>

    Last Name: <input type="text" th:field="*{lastName}"/>

    <br><br>

    Country:
    <select th:field="*{country}">
        <option th:value="Indonesia">Indonesia</option>
        <option th:value="Japan">Japan</option>
        <option th:value="Singapore">Singapore</option>
        <option th:value="Thailand">Thailand</option>
        <option th:value="Palestine">Palestine</option>
    </select>

    <br><br>

    <input type="submit" value="Submit"/>

</form>

</body>
</html>